<modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
      <button
        id="{{ product_form_id }}-submit"
        type="submit"
        name="add"
        class="quick-add__submit button button--full-width button--secondary"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
        data-product-url="{{ card_product.url }}"
      >
        {{ 'products.product.choose_options' | t }}
        <div class="loading-overlay__spinner hidden">
          <svg
            aria-hidden="true"
            focusable="false"
            class="spinner"
            viewBox="0 0 66 66"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
</modal-opener>