<div class="quick-add no-js-hidden">
  {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
  {%- if card_product.variants.size == 1 -%}
    <product-form>
      {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        <input
          type="hidden"
          name="id"
          value="{{ card_product.selected_or_first_available_variant.id }}"
          disabled
        >
        <button
          id="{{ product_form_id }}-submit"
          type="submit"
          name="add"
          class="quick-add__submit button button--full-width button--secondary"
          aria-haspopup="dialog"
          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
          aria-live="polite"
          data-sold-out-message="true"
          {% if card_product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >
          <span>
            {%- if card_product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
          <span class="sold-out-message hidden">
            {{ 'products.product.sold_out' | t }}
          </span>
          <div class="loading-overlay__spinner hidden">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
      <button
        id="{{ product_form_id }}-submit"
        type="submit"
        name="add"
        class="quick-add__submit button button--full-width button--secondary"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
        data-product-url="{{ card_product.url }}"
      >
        {{ 'products.product.choose_options' | t }}
        <div class="loading-overlay__spinner hidden">
          <svg
            aria-hidden="true"
            focusable="false"
            class="spinner"
            viewBox="0 0 66 66"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
    </modal-opener>
    <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
      <div
        role="dialog"
        aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
        aria-modal="true"
        class="quick-add-modal__content global-settings-popup"
        tabindex="-1"
      >
        <button
          id="ModalClose-{{ card_product.id }}"
          type="button"
          class="quick-add-modal__toggle"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
        <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
      </div>
    </quick-add-modal>
  {%- endif -%}
</div>