<style>
  .camp-button {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  margin-bottom: 0.6em;
  border-radius: 15px;
  border: 1px solid black;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 5;
}

.leftBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.campicon {
  display: flex;
  position: relative;
  width: 25px;
  height: 25px;
}


.NameandSpan {
  margin-left: 10px;
}

h2.campname {
  display: flex;
  font-size: 14px;
  font-weight: 550;
  margin: 0;
}

.campspan {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.priceArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2.campprice {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-right: 7px;
}

div.camparrow {
  display: flex;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

</style>

{%  assign icons = '' %}
{%  assign campName = '' %}
{%  assign campColor = '' %}

{%- for tags in product.tags -%}
  {% if tags == "AI" %}
  {% assign icons = icons | append: ',https://educationstation.github.io/CCLocation/img/Ai.png' %}
  {% assign campName = campName | append: ',Creative A.I.' %}
  {% endif %}
  {% if tags == "Minecraft" %}
  {% assign icons = icons | append: ',https://educationstation.github.io/CCLocation/img/Minecraft.png' %}
  {% assign campName = campName | append: ',Minecraft Modding' %}  
  {% endif %}
  {% if tags == "Roblox" %}
  {% assign icons = icons | append: ',https://educationstation.github.io/CCLocation/img/Roblox.png' %}
  {% assign campName = campName | append: ',Roblox Game Dev' %}
  {% endif %}
{%- endfor -%}  

{% assign TechIcons = icons | split: ", " %}
{% assign TechNames = campName | split: ", " %}
{% assign TechColor = campColor | split: ", " %}

<h3>Add a 2-day Tech Camp and get recieve $30 Off your entire order</h3>

{% assign camps = '' %}

{% for variant in product.variants %}
    {% for option in variant.options %}
      {% if option == 'AI Camp' or option == 'Roblox Game Development Camp' or option == 'Minecraft Modding Camp' %}
      {% if camps contains option %}
        {% comment %} do nothing since the title is already in the list {% endcomment %}
        {% else %}
        {% assign camps = camps | append: ',' | append: option %}
        <div>
          <a class="camp-button" onclick='location.href={{product.url}}'>
            <div class="leftBox">
              {% if option == "AI Camp" %}
              <img class="campicon" src="https://educationstation.github.io/CCLocation/img/Ai.png" ></img>
              {% elsif option == "Roblox Game Development Camp" %}
              <img class="campicon" src="https://educationstation.github.io/CCLocation/img/Roblox.png" ></img>
              {% elsif option == "Minecraft Modding Camp" %}
              <img class="campicon" src="https://educationstation.github.io/CCLocation/img/Minecraft.png" ></img>
              {% endif %}
              <div class="NameandSpan">
                <h2 class="campname">{{ option }}</h2>
              </div>
            </div>
            <div class="priceArrow">
              <h2 class="campprice">{{ product.price }}</h2>
              <div class="camparrow"></div>
            </div>
          </a>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
{% endfor %}
 
{% comment %}
  {% for camp in product.variants %}
  <div>
  <a class="camp-button" onclick="location.href={{product.url}}">
    <div class="leftBox">
      <div class="campicon" style='background-image: url("{{camp}}")'></div>
      <div class="NameandSpan">
        <h2 class="campname">{{ camp }}</h2>
      </div>
    </div>
    <div class="priceArrow">
      <h2 class="campprice">{{ product.price }}</h2>
      <div class="camparrow"></div>
    </div>
  </a>
</div>
{% endfor %}
{% endcomment %}




