<style>
  .camp-button {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  margin-bottom: 0.6em;
  border-radius: 15px;
  border: 1px solid black;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 5;
}

.leftBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.campicon {
  display: flex;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}


.NameandSpan {
  margin-left: 10px;
}

h2.campname {
  display: flex;
  font-size: 14px;
  font-weight: 550;
  margin: 0;
}

.campspan {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.priceArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2.campprice {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-right: 7px;
}

div.camparrow {
  display: flex;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

</style>

<div>
  <h3>Add a 2-day Tech Camp and get recieve $30 Off your entire order</h3>
  <a class="camp-button" onclick="location.href='{{product.url}}';">
    <div class="leftBox">
      <div class="campicon" style='background-image: url("{{icon}}")'></div>
      <div class="NameandSpan">
        <h2 class="campname">{{ camp }}</h2>
        <h2 class="campspan">{{ span }}</h2>
      </div>
    </div>
    <div class="priceArrow">
      <h2 class="campprice">{{ price }}</h2>
      <div class="camparrow" style='background-image: url("{{arrow}}")'></div>
    </div>
  </a>
</div>

