<div>
  <h3>Add a 2-day Tech Camp and get recieve $30 Off your entire order</h3>
  <a class="camp-button" onclick="location.href='{{link}}';">
    <div class="leftBox">
      <div class="campicon" style='background-image: url("{{icon}}")'></div>
      <div class="NameandSpan">
        <h2 class="campname">{{ camp }}</h2>
        <h2 class="campspan">{{ span }}</h2>
      </div>
    </div>
    <div class="priceArrow">
      <h2 class="campprice">{{ price }}</h2>
      <div class="camparrow" style='background-image: url("{{arrow}}")'></div>
    </div>
  </a>
</div>