<div>
    <h2> Cart </h2>
    <div claa="my-cart_items">
        {% for item in cart.items %}
            <hr />
            </div>
                <a href="{{item.url}}">
                    {{item.title}}
                </a>
            </div>
            <div>
                Price: {{item.final_price | money}}
            </div>
            <div>
                Quantity: 
                <a href="{{routes.cart_change_url}}?id={{item.key}}&quantity={{item.quantity | minus: 1}}">
                    Minus
                </a>
                {{item.quantity}}
                <a href="{{routes.cart_change_url}}?id={{item.key}}&quantity={{item.quantity | plus: 1}}">
                    Plus
                </a>
            </div>
            <div>
                Total: {{item.final_line_price | money}}
            </div>
        {% endfor %%}
    </div>
</div>

{% schema %}
    {
        "name":"My cart",
        "settings" : []
    }
{% endschema %}
{% stylesheet  %}
{% endstylesheet %}
{%  javascript  %} 
{% endjavascript %}